@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-background: #222831;
    --color-background-second: #181c23;
    --color-foreground: #F6F4E8;
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

input,
textarea,
select,
button {
    /* Menghilangkan border dan outline */
    border: none;
    outline: none;

    /* Menghilangkan background bawaan */

    /* Mengatur font agar mewarisi dari parent (biar tidak beda sendiri) */
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    /* Menghilangkan bayangan bawaan pada iOS/Safari */
    -webkit-appearance: none;
    appearance: none;

    /* Menghilangkan padding bawaan */

    /* Mengatur box-sizing agar padding tidak merusak lebar */
    box-sizing: border-box;
}